li {
    list-style: none;
  }

.navbar {
    max-width:1200px;
  display: flex;
  justify-content: space-between;     
  height: 100%;
  padding: 15px;
  gap: 5px;
  margin: 0 auto;
}

.thelogo {
    align-content: flex-start;
    height: 2em;
    padding: 1.5em;
}

.navbar ul {
    display: flex;
    text-align: right;
}

.navbar li {
    list-style: none;
    padding:10px 10px 10px 10px;
}

.navbar-mobile {
    display:none;
}

@media (min-width: 320px) and (max-width: 768px) and (orientation: portrait) { 
    .navbar {
        display:none;
    }
    .navbar-mobile {
        display: flex;
        flex-direction: column;
    }

    .mobile-logo {
        display: flex;
    }

    .mobile-menu {
        display: flex;
        flex-direction: column;

    }
}